  <div class="title">
  <h1>{{title}}</h1>
  </div>
  <h4> by {{author}} <small class="muted">{{date published_at}}</small></h4>

  <hr>

  <div class="intro">
    {{markdown intro}}
  </div>

  <div class="below-the-fold">
    {{markdown extended}}
  </div>
