<%= form_for(@record) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :power %><br>
    <%= f.text_field :power %>
  </div>
  <div class="field">
    <%= f.label :current %><br>
    <%= f.text_field :current %>
  </div>
  <div class="field">
    <%= f.label :voltage %><br>
    <%= f.text_field :voltage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
