<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @connector.name %>
</p>

<p>
  <strong>Chargepoint:</strong>
  <%= @connector.chargePoint %>
</p>

<%= link_to 'Edit', edit_connector_path(@connector) %> |
<%= link_to 'Back', connectors_path %>
