<h1>Listing charge_points</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Charge point vendor</th>
      <th>Charge point model</th>
      <th>Charge point serial number</th>
      <th>Firmware version</th>
      <th>Iccid</th>
      <th>Imsi</th>
      <th>Meter type</th>
      <th>Meter serial number</th>
      <th>Heartbeat interval</th>
      <th>Charge box serial number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @charge_points.each do |charge_point| %>
      <tr>
        <td><%= charge_point.status %></td>
        <td><%= charge_point.charge_point_vendor %></td>
        <td><%= charge_point.charge_point_model %></td>
        <td><%= charge_point.charge_point_serial_number %></td>
        <td><%= charge_point.firmware_version %></td>
        <td><%= charge_point.iccid %></td>
        <td><%= charge_point.imsi %></td>
        <td><%= charge_point.meter_type %></td>
        <td><%= charge_point.meter_serial_number %></td>
        <td><%= charge_point.heartbeat_interval %></td>
        <td><%= charge_point.charge_box_serial_number %></td>
        <td><%= link_to 'Show', charge_point %></td>
        <td><%= link_to 'Edit', edit_charge_point_path(charge_point) %></td>
        <td><%= link_to 'Destroy', charge_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Charge point', new_charge_point_path %>
