<p>Name: <strong>{{input valueBinding='name' cols="30"}}</strong> </p>
<hr>
<p><span class="glyphicon glyphicon-envelope"></span> Email: {{input valueBinding='email' cols="30"}}</p>
<p> <span class="glyphicon glyphicon-map-marker"></span>Company: {{input valueBinding='company' cols="30"}}</p>
<p><span class="glyphicon glyphicon-bell"></span> Your Expiry Date: {{date expiryDate}} </p>
<p><span class="glyphicon glyphicon-user"></span> Your ID Tag: {{idTag}} </p>
