<p><strong>{{name}}</strong> </p>
<hr>
<p><span class="glyphicon glyphicon-envelope"></span> {{email}} </p>
<p> <span class="glyphicon glyphicon-map-marker"></span> {{company}} </p>
<p><span class="glyphicon glyphicon-bell"></span> {{date expiryDate}} </p>
<p><span class="glyphicon glyphicon-user"></span> {{idTag}} </p>
