<div class="container-fluid">
  <div class="charge-point-status">
    {{#if 'nameIsEditing'}}
      <h3>{{input valueBinding='name' cols="30"}}</h3>
      <button class="btn btn-success btn-sm "{{action 'doneNameEditing'}}>Done</button>
      <button class="btn btn-primary btn-sm "{{action 'cancelNameEditing'}}>Cancel</button>
    {{else}}
      <h3>
        {{name}}
        <button class="btn btn-primary btn-sm "{{action 'editName'}}>Edit Name</button>
      </h3>
    {{/if}}
    <hr>
    <strong>Status</strong>:
    {{#if 'isAccepted'}}
    <span class="label label-success">
      {{status}}
    </span>
    {{else}}
    <span class="label label-default">
      {{status}}
    </span>
    {{/if}}
    <button class="btn btn-default btn-sm" {{action 'reset'}}>reset</button>
  </div>

  <hr>

  <div class="charge-point-configuration panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        <a data-toggle="collapse" href="#cp-configuration">
          CONFIGURATION
        </h5>
        </a>
      </h5>
    </div>
    <div id="cp-configuration" class="collapse in">
      <div class="panel-body">
        {{#if 'isEditing'}}
          {{partial 'charge-point/edit'}}
          <hr>
          <button class="btn btn-success btn-sm "{{action 'doneEditing'}}>Done</button>
          <button class="btn btn-primary btn-sm "{{action 'cancel'}}>Cancel</button>
        {{else}}
          {{partial 'charge-point/view'}}
          <hr>
          <button class="btn btn-primary btn-sm "{{action 'edit'}}>Edit</button>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="users panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h5>USERS</h5>
      </div>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        {{#each users}}
          {{#link-to 'user' this}}
            <p>{{this.name}}</p>
          {{/link-to}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="connectors panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h5>Connectors</h5>
      </div>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        {{#each connectors}}
          <p>{{#link-to 'connector' this}}{{this.name}}{{/link-to}}</p>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="vehicles panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h5>VEHICLES</h5>
      </div>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        {{#each vehicles}}
          {{#link-to 'vehicle' this}}
            <p>{{this.name}}</p>
          {{/link-to}}
        {{/each}}
      </ul>
    </div>
  </div>


  <div class="users panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <a data-toggle="collapse" href="#transaction-list">
          <h5>TRANSACTIONS</h5>
        </a>
      </div>
    </div>
    <div id="transaction-list" class="collapse in">
      <div class="panel-body">
        <ul class="list-group">
          {{#each trades}}
            {{#link-to 'trade' this}}
              <p>{{this.id}} <span class="small">at {{date this.createdAt}}</span></p>
            {{/link-to}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <button class="btn btn-danger btn-sm"{{action 'destroy'}}>Delete Charge Point</button>
</div>
