<div class="container-fluid">
  <div class="charge-point-status">
    {{#if 'nameIsEditing'}}
      <h3>{{input valueBinding='name' cols="30"}}</h3>
      <button class="btn btn-success btn-sm "{{action 'doneNameEditing'}}>Done</button>
      <button class="btn btn-primary btn-sm "{{action 'cancelNameEditing'}}>Cancel</button>
    {{else}}
      <h3>
        {{name}}
        <button class="btn btn-primary btn-sm "{{action 'editName'}}>Edit Name</button>
      </h3>
    {{/if}}
    <hr>
    <strong>Status</strong>:
    {{#if 'isAccepted'}}
    <span class="label label-success">
      {{status}}
    </span>
    {{else}}
    <span class="label label-default">
      {{status}}
    </span>
    {{/if}}
    <button class="btn btn-default btn-sm" {{action 'reset'}}>Reset</button>
  </div>

  <hr>

  <div class="charge-point-configuration panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        <a data-toggle="collapse" href="#cp-configuration">
          CONFIGURATION
        </h5>
        </a>
      </h5>
    </div>
    <div id="cp-configuration" class="collapse in">
      <div class="panel-body">
        {{#if 'isEditing'}}
          {{partial 'charge-point/edit'}}
          <hr>
          <button class="btn btn-success btn-sm "{{action 'doneEditing'}}>Done</button>
          <button class="btn btn-primary btn-sm "{{action 'cancel'}}>Cancel</button>
        {{else}}
          {{partial 'charge-point/view'}}
          <hr>
          <button class="btn btn-primary btn-sm "{{action 'edit'}}>Edit</button>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="users panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        USERS
        <div class="btn-group pull-right">
          {{#if 'isAddingNewUser'}}
            <button class="btn btn-warning btn-xs" {{action 'cancelUserAdding'}}>x</button>
            {{input value=newUser action="updateUsers" on="enter"}}
          {{else}}
            <button class="btn btn-primary btn-xs" {{action 'addNewUser'}}>+</button>
          {{/if}}
        </div>
      </h5>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        {{#each users}}
        <p>{{#link-to 'user' this}}{{this.name}}{{/link-to}}
          <button class="btn btn-default btn-xs pull-right" {{action "deleteUser"}}>x</button>
        </p>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="connectors panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        CONNECTORS
        <div class="btn-group pull-right">
          {{#if 'isAddingNewConnector'}}
            <button class="btn btn-warning btn-xs" {{action 'cancelConnectorAdding'}}>x</button>
            {{input value=newConnector action="updateConnectors" on="enter"}}
          {{else}}
            <button class="btn btn-primary btn-xs" {{action 'addNewConnector'}}>+</button>
          {{/if}}
        </div>
      </h5>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        {{#each connectors}}
          <p>{{#link-to 'connector' this}}{{this.name}}{{/link-to}}
            <button class="btn btn-default btn-xs pull-right" {{action "deleteConnector"}}>x</button>
          </p>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="vehicles panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        VEHICLES
        <div class="btn-group pull-right">
          {{#if 'isAddingNewVehicle'}}
            <button class="btn btn-warning btn-xs" {{action 'cancelVehicleAdding'}}>x</button>
            {{input value=newVehicle action="updateVehicles" on="enter"}}
          {{else}}
            <button class="btn btn-primary btn-xs" {{action 'addNewVehicle'}}>+</button>
          {{/if}}
        </div>
      </h5>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        {{#each vehicles}}
        <p>{{#link-to 'vehicle' this}}{{this.name}}{{/link-to}}
          <button class="btn btn-default btn-xs pull-right" {{action "deleteVehicle"}}>x</button>
        </p>
        {{/each}}
      </ul>
    </div>
  </div>


  <div class="users panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <a data-toggle="collapse" href="#transaction-list">
          <h5>TRANSACTIONS</h5>
        </a>
      </div>
    </div>
    <div id="transaction-list" class="collapse in">
      <div class="panel-body">
        <ul class="list-group">
          {{#each trades}}
            {{#link-to 'trade' this}}
              <p>{{this.id}} <span class="small">at {{date this.createdAt}}</span></p>
            {{/link-to}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <button class="btn btn-danger btn-sm"{{action 'destroy'}}>Delete Charge Point</button>
</div>
