<div class="container-fluid">
  <div class="col-md-3">
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <p> Transaction ID: {{transactionId}} </p>
        <p> Energy: {{energy}} kWh </p>
        <p> Bill: {{bill}} Euro </p>
        <p> Customer: {{user.name}} </p>
        <p> Charge Point: {{chargePoint.name}} </p>
        <p> Vehicle: {{vehicle.name}} </p>
        <p> Date: {{date createdAt}}</p>
      </div>
    </div>
    <div id="records-chart" class="records-chart">
    </div>
  </div>

</div>
