<div class="container-fluid">
  <div class="col-md-3">
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="time">
          {{date createdAt}}
        </p>
        <p> Transaction ID: {{id}} </p>
        <p> Status: {{status}} </p>
        <p> Energy: {{energy}} kWh </p>
        <p> Bill: {{bill}} € </p>
        <p> Customer: {{#link-to 'user' this.user}}{{user.name}}{{/link-to}} </p>
        <p> Charge Point: {{#link-to 'charge-point' this.chargePoint}}{{chargePoint.name}}{{/link-to}} </p>
        <p> Connector: {{connector.name}}
        <p> Vehicle: {{#link-to 'vehicle' this.vehicle}}{{vehicle.name}}{{/link-to}} </p>
      </div>
    </div>
  </div>
  <div id="records-chart" class="records-chart">
  </div>

</div>
