<div class="container-fluid">
  <p> {{transactionId}} </p>

  <p>
    Energy: {{energy}} kWh
  </p>

  <p>
    Bill: {{bill}} Euro
  </p>

  <p>
    Customer: {{user.name}}
  </p>

  <p>
    Charge Point: {{chargePoint.name}}
  </p>

  <p>
    Vehicle: {{vehicle.name}}
  </p>

</div>
