<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">PROFILE
      {{#if 'isEditing'}}
      <button class="btn btn-success btn-sm"{{action 'doneEditing'}}>Done</button>
      <button class="btn btn-primary btn-sm"{{action 'cancel'}}>Cancel</button>
      {{else}}
      <button class="btn btn-primary btn-sm"{{action 'edit'}}>Edit</button>
      {{/if}}
      </h5>
    </div>
      <div class="panel-body">
        <div class="col-md-9">
      {{#if 'isEditing'}}
        {{partial 'user/edit'}}
      {{else}}
        {{partial 'user/view'}}
      {{/if}}
        </div>
      </div>
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        VEHICLES
        <button class="btn btn-primary btn-xs pull-right" {{action 'addVehicle'}}>Add Vehicle</button>
      </h5>
    </div>
    <div class="panel-body">
      {{#if 'vehicleAdding'}}
      <p>
        please enter the name of a existing vehicle: {{input valueBinding='vehicleName' cols="30" action="doneVehicleAdding" on="enter"}}
        <button class="btn btn-success btn-xs"{{action 'doneVehicleAdding'}}>Done</button>
        <button class="btn btn-primary btn-xs"{{action 'cancelVehicleAdding'}}>cancel</button>
      </p>
      {{/if}}
      {{#each vehicles}}
        <p> {{#link-to 'vehicle' this }}{{name}}{{/link-to}} 
          <button class="btn btn-default btn-xs pull-right" {{action "deleteVehicle"}}>x</button>
        </p>
      {{/each}}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">CHARGE POINTS
        <button class="btn btn-primary btn-xs pull-right" {{action 'addChargePoint'}}>Add Charge Point</button>
      </h5>
    </div>
    <div class="panel-body">
      {{#if 'chargePointAdding'}}
      <p>
        please enter the name of a existing charge point: {{input valueBinding='chargePointName' cols="30" action="doneChargePointAdding" on="enter"}}
        <button class="btn btn-success btn-xs"{{action 'doneChargePointAdding'}}>Done</button>
        <button class="btn btn-primary btn-xs"{{action 'cancelChargePointAdding'}}>cancel</button>
      </p>
      {{/if}}
      {{#each chargePoints}}
        <p>
          {{#link-to 'charge-point' this }}{{name}}{{/link-to}}
          <button class="btn btn-default btn-xs pull-right" {{action "deleteChargePoint"}}>x</button>
        </p>
      {{/each}}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <a data-toggle="collapse" href="#transaction-list">
          <h5 class="panel-title">TRANSACTIONS</h5>
        </a>
      </div>
    </div>
    <div id="transaction-list" class="collapse in">
      <div class="panel-body">
        <ol class="">
        {{#each trades}}
          <li>
            {{#link-to 'trade' this }}Nr.{{id}}
            <span class="small"> at {{date createdAt}}, </span>{{/link-to}}
            <span>{{bill}} €, </span>
            <span>{{energy}} kWh</span>
          </li>
        {{/each}}
        </ol>
      </div>
    </div>
  </div>
  <button class="btn btn-danger btn-sm"{{action 'destroy'}}>Delete User</button>
</div>
