<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">PROFILE</h4>
      {{#if 'isEditing'}}
      <button class="btn btn-primary btn-sm"{{action 'doneEditing'}}>Done</button>
      <button class="btn btn-primary btn-sm"{{action 'cancel'}}>Cancel</button>
      {{else}}
      <button class="btn btn-primary btn-sm"{{action 'edit'}}>Edit</button>
      {{/if}}
    </div>
      <div class="panel-body">
        <div class="col-md-9">
      {{#if 'isEditing'}}
        {{partial 'user/edit'}}
      {{else}}
        {{partial 'user/view'}}
      {{/if}}
        </div>
      </div>
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">VEHICLES</h4>
    </div>
    <div class="panel-body">
      {{#each vehicles}}
        <p>
          {{#link-to 'vehicle' this }}{{name}}{{/link-to}}
        </p>
      {{/each}}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">CHARGE POINTS</h4>
    </div>
    <div class="panel-body">
      {{#each chargePoints}}
        <p>
          {{#link-to 'charge-point' this }}{{name}}{{/link-to}}
        </p>
      {{/each}}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">TRANSACTIONS</h4>
    </div>
    <div class="panel-body">
      {{#each trades}}
        <p>
          {{#link-to 'trade' this }}{{id}}
          <span class="small"> at {{date createdAt}}, </span>{{/link-to}}
          <span>{{bill}} €, </span>
          <span>{{energy}} kWh</span>
        </p>
      {{/each}}
    </div>
  </div>
</div>
