<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">PROFILE
      {{#if 'isEditing'}}
      <button class="btn btn-success btn-sm"{{action 'doneEditing'}}>Done</button>
      <button class="btn btn-primary btn-sm"{{action 'cancel'}}>Cancel</button>
      {{else}}
      <button class="btn btn-primary btn-sm"{{action 'edit'}}>Edit</button>
      {{/if}}
      </h4>
    </div>
    <div class="panel-body">
      {{#if 'isEditing'}}
        {{partial 'vehicle/edit'}}
      {{else}}
        {{partial 'vehicle/view'}}
      {{/if}}
    </div>
    <!-- <div class="">
        <img src="assets/Citroen C-Zero.jpg" alt="" />
    </div> -->
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <a data-toggle="collapse" href="#transaction-list">
          <h5 class="panel-title">TRANSACTIONS</h5>
        </a>
      </div>
    </div>
    <div id="transaction-list" class="collapse in">
      <div class="panel-body">
        {{#each trades}}
          <p>
            {{#link-to 'trade' this}}{{id}}<span class="small"> at {{date createdAt}}</span>{{/link-to}}
          </p>
        {{/each}}
      </div>
    </div>
  </div>
  <button class="btn btn-danger btn-sm"{{action 'destroy'}}>Delete Vehicle</button>
</div>
